<!DOCTYPE html>
<html ng-app="isdcng.blogdemo">

<head>
	<meta charset="utf-8">

	<!-- so what the title should be ! -->
	<title>CCBlog - Demo page</title>

	<link rel="stylesheet" type="text/css" href="./ng-semantic.css">
	<link rel="stylesheet" type="text/css" class="ui" href="./external/semantic.min.css">
	<link rel="stylesheet" type="text/css" class="ui" href="./isdcng-blog.css">
		
	<!-- TODO: hljs theme should be a setting to be customized -->
	<!-- TODO: so does Markdown render theme -->
	<link rel="stylesheet" type="text/css" href="./external/mono-blue.css">

</head>

<body ng-controller="BlogController">

	<!-- top navbar -->
	<div id="header" class="ui menu" style="display: none;">
		<menu-item>
			CC
		</menu-item>
		
		<!-- TODO: we disabled the whole header for now -->
		<!--
		<menu-item>
			<a href="">Homepage</a>
		</menu-item>
		<menu-item>
			<a href="">Activities</a>
		</menu-item>
		<menu-item>
			<a href="">Organization</a>
		</menu-item>
		<menu-item>
			<a href="">Classroom</a>
		</menu-item>
		<menu-item>
			<a href="">Worldwide</a>
		</menu-item>
		-->

		<div class="right menu">
			<!-- TODO: disabled socials because of WIP.
					and they should be placed at footer. -->
			<!--
			<menu-item>
				<icon icon-weibo></icon>
				<icon icon-twitter></icon>
			</menu-item>
			-->
			<a class="ui item" ng-show="!logged_in()" ng-click="login_modalshow()">
				<icon class="sign in"></icon>
				Log In
			</a>
			<div class="ui simple dropdown pointing item" ng-show="logged_in()">
				<icon class="user" ng-show="logged_in()"></icon>
				{{ logged_in() ? user_name() : 'User' }}
				<icon icon-dropdown></icon>
				<sui-menu>
					<menu-item ng-show="!logged_in()" ng-click="login_modalshow()"><icon class="sign in"></icon>Log In</menu-item>
					<menu-item><icon class="setting"></icon>Settings</menu-item>
					<menu-item ng-show="logged_in()" ng-click="logout_onclick()"><icon class="sign out"></icon>Log Out</menu-item>
				</sui-menu>
			</div>
		</div>
	</div>

	<!-- secondary topbar -->
	<div id="secondary-header" class="ui menu">

		<menu-item>
			<a href="" onclick="$('#secondary-header').transition({ animation: 'slide down', onComplete: function () { $('#secondary-header-hidden').transition('scale'); } });">
				<icon class="angle up"></icon>
			</a>
		</menu-item>

		<!-- breadcrumb navigation -->
		<div class="item">
			<breadcrumb>
				<span ng-repeat="loc in breadcrumb_locations()">
					<div active ng-show="$last" class="section" >{{ loc[0] }}</div>
					<a ng-show="!$last" class="section" ng-click="loc[1]()">{{ loc[0] }}</a>
					<i ng-show="!$last" class="angle right icon divider inverted"></i>
				</span>
			</breadcrumb>
		</div>

		<!-- TODO: disabled search because its a WIP. -->
		<!--
		<div class="right menu">
			<menu-item>
				<div class="ui input icon">
					<input class="prompt" type="text" placeholder="Search..." >
					<i class="search link icon"></i>
				</div>
			</menu-item>
		</div>
		-->

	</div>

	<!-- secondary topbar is hidden -->
	<span class="header hidden transition" id="secondary-header-hidden">
		<a href="" id="btn-show-secondary" onclick="$('#secondary-header-hidden').transition({ animation: 'scale', onComplete: function () { $('#secondary-header').transition('slide down'); } });" style="padding: 0.3em 1em; display: inline-block; color: black;">
			<icon class="angle down text-small-shadow"></icon>
		</a>
	</span>

<div class="wrap iclearfix" style="max-width: 1240px; margin: 0 auto;">
	
	<!-- left sidebar -->
	<div id="left-sidebar" class="left-floated" style="z-index: 100; margin-bottom: 1em; margin-top: 1.5em;">
		
		<div class="resp-column">
			<div class="ui center aligned header">
<!--				<icon class="circular user"></icon>-->
				<div><img id="sidebar-avatar" src="./assets/placeholder.png" /></div>
				<div class="ui active button" ng-show="!logged_in()" ng-click="login_modalshow()" style="margin-bottom: 1em;">Login</div>
				<div class="ui horizontal divider" ng-show="logged_in()">{{ user_name() }}</div>
				<div class="sidebar-second-usert" ng-show="logged_in()">FOUNDATION</div>
				<div class="sidebar-ops" ng-show="logged_in()">
					<a href="" ng-click="logout_onclick()"><icon class="sign out"></icon></a>
				</div>
			</div>
			
		</div>
		
		<div class="resp-column">
			<div class="ui vertical accordion menu">
				<div class="item">
					<a class="title">
						<i class="dropdown icon"></i>
						新儒学
					</a>
					<div class="content menu">
						<menu-item is-link href="">新儒学</menu-item>
						<menu-item is-link href="">新儒学</menu-item>
						<menu-item is-link href="">新儒学</menu-item>
						<menu-item is-link href="">新儒学</menu-item>
					</div>
				</div>
			</div>
			<div class="ui vertical accordion menu">
				<div class="item">
					<a class="title">
						<i class="dropdown icon"></i>
						新儒学
					</a>
					<div class="content menu">
						<menu-item is-link href="">新儒学</menu-item>
						<menu-item is-link href="">新儒学</menu-item>
						<menu-item is-link href="">新儒学</menu-item>
						<menu-item is-link href="">新儒学</menu-item>
					</div>
				</div>
			</div>
		</div>

	</div> <!-- left sidebar -->

	<!-- stackoverflow.com/questions/6421966/css-overflow-x-visible-and-overflow-y-hidden-causing-scrollbar-issue -->
	<!-- or sliding with sidebar got very ugly because of `overflow-y: hidden` -->
	<div class="wrap" style="max-width: 768px; margin: 2rem auto;">

		<!-- new article panel -->
		<div class="container" id="page-new-article" ng-controller="NewArticleController" hide-by-default>
			<div class="ui horizontal divider">POST AN ARTICLE</div>
			<div class="ui segment">
				<div class="ui form" id="new-article-form">
					<div class="fields no-clear">
						<field class="nine wide">
							<input type="text" name="title" id="text-title" placeholder="Title" />
						</field>
						<div class="field right-aligned">
							by secondwtq
						</div>
					</div>
					<div class="field no-clear">
						<input type="text" name="secondary-title" id="text-second-title" placeholder="Secondary Title" />
					</div>
					
					<div class="field no-clear">
						<div class="fields">
							<field class="five wide">
								<div class="ui action icon input">
									<input type="text" id="page-new-article-tag-input" placeholder="Add tags ..." >
									<button class="ui icon button" ng-click="add_tag()"><icon class="add"></icon></button>
								</div>
							</field>
							<field>
								<div id="page-new-article-tags-inner-wrapper">
									<div class="ui label" ng-repeat="tag in tags">
										{{ tag }}
										<icon class="delete" ng-click="tags.splice($index, 1)"></icon>
									</div>
								</div>
							</field>
						</div>
					</div>
					
					<div class="ui horizontal divider no-clear aft-no-clear">Content</div>
					<div class="field no-clear">
						<textarea id='page-new-article-content'></textarea>
					</div>
					<div class="ui menu">
						<a class="item" ng-click="new_article_back_to_article_list()">
							<icon class="angle left"></icon> BACK
						</a>
						<div class="right menu">
							<a class="item" href="" ng-click="showPreview()">
								<icon class="circle thin"></icon> PREVIEW
							</a>
							<a class="item" href="" ng-click="post_article_onclick()">
								POST <icon class="angle right"></icon>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- new article panel -->

		<!-- article panel -->
		<div class="container" ng-controller="MainArticleController" id="main-article"
			hide-by-default >
			<!-- Semantic UI would remove margin Y of first and last piled segment -->
			<!-- 0427: but wo dont need it anymore since it's unified with article list now -->
			<!-- <div placeholder> </div> -->

			<div id="main-article-content" class="ui segment">
				<div class="ui text menu context-ops">
					<a class="item" ng-click="back_to_article_list()">
						<icon class="angle left"></icon> Back
					</a>
					<div class="ui text right menu context-ops">
						<a class="item" ng-click="like_onclick()" ng-class="{ 'active': current_article().liked_by_self, 'disabled': current_article().disliked_by_self }">
							<icon class="thumbs up" ng-class="{ 'red': current_article().liked_by_self }"></icon> Like <span>{{ current_article().count_liker }}</span>
						</a>
						<a class="item" ng-click="dislike_onclick()" ng-class="{ 'active': current_article().disliked_by_self, 'disabled': current_article().liked_by_self }">
							<icon class="thumbs down" ng-class="{ 'red': current_article().disliked_by_self }"></icon> Dislike <span>{{ current_article().count_disliker }}</span>
						</a>
					</div>
				</div>
				<div class="ui large header">
					<div class="content">{{ current_article().title }}</div>
					<div class="sub header">{{ current_article().title_secondary }}</div>
				</div>
				<div class="ui horizontal divider">x</div>
				<div class="paragraphs">
					<div ng-repeat="paragraph in current_article().paragraphs" class="article-paragraph-wrapper">
						<!-- stackoverflow.com/questions/9381926/insert-html-into-view-using-angularjs -->
						<div onclick="isdcng_blog.para_toggle_combox(this);" class="y-hidden-transition article-paragraph" ng-bind-html="paragraph.content"></div>
						<div hide-by-default class="article-paragraph-comment-container-wrapper">
							<div class="article-paragraph-comment-container box-inset">
								Comments
								<div class="ui horizontal divider">POST A COMMENT</div>
								<form class="ui form">
									<textarea></textarea>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="ui horizontal divider">by <a href="">{{ current_article().author_name }}</a> 2014-12-08</div>
				<div class="ui text menu context-ops">
					<a class="item" ng-click="back_to_article_list()">
						<icon class="angle left"></icon> Back
					</a>
					<div class="ui text right menu context-ops">
						<a class="item" ng-click="like_onclick()" ng-class="{ 'active': current_article().liked_by_self, 'disabled': current_article().disliked_by_self }">
							<icon class="thumbs up" ng-class="{ 'red': current_article().liked_by_self }"></icon> Like <span>{{ current_article().count_liker }}</span>
						</a>
						<a class="item" ng-click="dislike_onclick()" ng-class="{ 'active': current_article().disliked_by_self, 'disabled': current_article().liked_by_self }">
							<icon class="thumbs down" ng-class="{ 'red': current_article().disliked_by_self }"></icon> Dislike <span>{{ current_article().count_disliker }}</span>
						</a>
					</div>
				</div>
			</div>

			<!-- comments divider and comments -->
			<div class="ui horizontal divider" style="margin-top: -1.5em;"> COMMENTS </div>

			<div id="main-article-comments" class="ui segment">

				<!-- if no comment is presented -->
				<div id="main-article-comments-none" class="box-inset"
					ng-show="current_article().comments.length === 0" style="padding: 1em;">
					<h3 class="center-aligned">No Comments yet.</h3>
				</div>

				<div class="ui divided items">
					<div class="item" ng-repeat="comment in current_article().comments">
						<img src="assets/placeholder.png" style="width: 48px; height: 48px; float: right" />
						<div class="content">
							<div class="header"><a href="">{{ comment.author_name }}</a></div>
							<div class="description">{{ comment.content }}</div>
							<div class="extra">2014-12-08</div>
						</div>
					</div>
				</div>

				<div class="ui horizontal divider"> POST A COMMENT </div>

				<form class="ui form segment">
					<div class="field">
						<textarea id="comment-field"></textarea>
					</div>
					<div class="ui menu">
						<div class="item">
							Currently, We do not have foundation, but we have The Foundation.
						</div>
						<div class="right menu">
							<a class="item" href="" ng-click="post_comment()">
								POST
								<icon class="angle right"></icon>
							</a>
						</div>
					</div>
				</form>
			</div>

			<!-- <div placeholder> </div> -->
		</div>

		<!-- article list panel -->
		<div class="container" ng-controller="MainArticleListController" id="main-article-list">
			<div class="ui horizontal divider">{{ myBlog.get_display_name() }}</div>
			
			<!-- top page navigation bar -->
			<div class="ui menu pagenav-bar small-shadow">

				<menu-item>

					<div class="ui pagination menu">
						<a class="icon item" ng-class="{ 'disabled': current_page == 1 }" ng-click="prev_page()">
							<i class="left arrow icon" ng-class="{ 'disabled': current_page == 1 }"></i>
						<a class="item" ng-repeat="i in utilService.rep_range(mainArticleListPages.get_total_pages()) track by $index" ng-click="nav_page($index+1)" ng-class="{ 'active': current_page == $index+1 }">{{ $index+1 }}</a>
						</a>
						<a class="icon item" ng-class="{ 'disabled': current_page == mainArticleListPages.get_total_pages() }" ng-click="next_page()">
							<i class="right arrow icon" ng-class="{ 'disabled': current_page == mainArticleListPages.get_total_pages() }"></i>
						</a>
					</div>

				</menu-item>
				
				<div class="right menu" ng-show="logged_in()">
					<div class="ui item">
						<div class="ui menu">
							<a class="ui icon item" ng-click="switch_list_to_newessay()">
								<icon class="plus"></icon>
							</a>
						</div>
					</div>
				</div>
			</div> <!-- top page navigation bar -->

			<!-- article list segment -->
			<div class="ui piled segment page-article-list-segment">

				<div ng-class="{ 'ui two column grid': is_two_column() }"> <!-- articles -->
					<div class="column"> <!-- left column, or the primary column if there is only one col -->

						<div class="ui divided items transition">

							<div class="item" ng-repeat="article in article_list_page(get_current_page()) | idx_odd_e:is_two_column()" style="table-layout: auto;">

								<div class="content">
									<a class="header" ng-click="jump_to_article(article)">{{ article.title }}</a>
									<div class="meta">
										<span>{{ article.title_secondary }}</span>
									</div>
									<div class="description">
<!--										{{ article.summary }}-->
									</div>
									<div class="extra">
										by {{ article.author_name }} @ 96-12-08 <br />
										<a ng-repeat="tag in article.category" class="ui label">{{ tag }}</a>
									</div>
								</div>
								
								<div class="ui tiny image article-list-img" style="display: table-cell;">
									<img ng-src="{{ usersService.get_userinfo(article.author_id).user_avatar }}" />
								</div>
							</div>
						</div>

					</div>
					<!-- <div class="ui vertical divider" ng-show="is_two_column()"> </div> -->
					<div class="column" ng-show="is_two_column()"> <!-- right column -->

						<div class="ui divided items transition">

							<div class="item" ng-repeat="article in article_list_page(get_current_page()) | idx_even" style="table-layout: auto;">

								<div class="content">
									<a class="header" ng-click="jump_to_article(article)">{{ article.title }}</a>
									<div class="meta">
										<span>{{ article.title_secondary }}</span>
									</div>
									<div class="description">
<!--										{{ article.summary }}-->
									</div>
									<div class="extra">
										by {{ article.author_name }} @ 96-12-08 <br />
										<a ng-repeat="tag in article.category" class="ui label">{{ tag }}</a>
									</div>
								</div>
								
								<div class="ui tiny image article-list-img">
									<img ng-src="{{ usersService.get_userinfo(article.author_id).user_avatar }}" />
								</div>
							</div>
						</div>

					</div>
				</div>

			</div> <!-- article list segment -->

			<!-- bottom page navigation bar -->
			<div class="ui menu pagenav-bar small-shadow">
				<div class="item">

					<div class="ui pagination menu">
						<a class="icon item" ng-class="{ 'disabled': current_page == 1 }" ng-click="prev_page()">
							<i class="left arrow icon" ng-class="{ 'disabled': current_page == 1 }"></i>
						<a class="item" ng-repeat="i in utilService.rep_range(mainArticleListPages.get_total_pages()) track by $index" ng-click="nav_page($index+1)" ng-class="{ 'active': current_page == $index+1 }">{{ $index+1 }}</a>
						</a>
						<a class="icon item" ng-class="{ 'disabled': current_page == mainArticleListPages.get_total_pages() }" ng-click="next_page()">
							<i class="right arrow icon" ng-class="{ 'disabled': current_page == mainArticleListPages.get_total_pages() }"></i>
						</a>
					</div>

				</div>

				<!-- num column switch bar -->
				<div class="right menu">
						<div class="item">

							<div class="ui menu">
								<!-- NOTE: if you place ng-click in <i />
										you would MUST click ON THE ICON to invoke it! -->
								<a class="icon item" ng-click="switch_numcol(1)" ng-class="{ 'active': !is_two_column() }">
									<icon class="list"></icon>
								</a>
								<a class="icon item" ng-click="switch_numcol(2)" ng-class="{ 'active': is_two_column() }">
									<icon class="block layout"></icon>
								</a>
							</div>

						</div>
				</div> <!-- num column switch bar -->
			</div> <!-- bottom page navigation bar -->

		</div> <!-- article list panel -->
	</div>

</div>

	<!-- footer -->
	<div id="footer" class="ui tertiary inverted footer vertical segment">
		<div class="ui stackablecenter aligned page grid">

			<div class="row">
				<div class="column">
					<div class="ui horizontal divided relaxed red list inverted">

						<menu-item> <a href="">四川大学</a> </menu-item>
						<menu-item> <a href="">SCU ISDC</a> </menu-item>

					</div>
				</div>
			</div>

			<div class="row">
				<div class="column">
					<p>Copyleft 2015. Contact: lovejay-lovemusic#outlook.com</p>
				</div>
			</div>
		</div>
	</div> <!-- footer -->

<div class="ui modal" id="page-new-article-preview-modal" ng-controller="PreviewModalController">
	<icon icon-close></icon>
	<sui-header>
		Preview
	</sui-header>
	
	<sui-content id="page-new-article-preview-content">
		<div id="page-new-article-preview-content-t" style="display: none;">
			
		</div>
		<div id="page-new-article-preview-paragraphs">

		</div>
	</sui-content>
	
	<sui-actions>
		<div class="ui black button">Cancel</div>
	</sui-actions>
</div>

<!-- login & register dialog -->
<div class="ui small modal" id="login-modal" ng-controller="LoginModalController">
	<icon icon-close></icon>
	<sui-header>
		<!-- stackoverflow.com/questions/16584346/angularjs-if-then-else-construction-in-expression -->
		{{ modal_status === 'login' ? 'Login' : 'Register' }}
		
		<div id="login-modal-message" class="modal-message right-floated">{{ login_message }}</div>
	</sui-header>

	<sui-content>
		<div class="slides">
			<div class="slide-wrapper">

				<!-- login page -->
				<div class="slide-page" style="padding: 1em;">
					<form id="login-modal-login-form" class="ui form">
						<field>
							<div class="ui icon input">
								<input id="login-modal-login-name" name="username" type="text" placeholder="Your Username">
								<icon class="user"></icon>
							</div>
						</field>

						<field>
							<div class="ui icon input">
								<input id="login-modal-login-passwd" type="password" name="passwd" placeholder="Your Password">
								<icon class="lock"></icon>
							</div>
						</field>
						
						<!--
							<field>
								<div class="fields">
									<field class="five wide">
										<input type="text" placeholder="Check Code">
									</field>
									<div class="field">
										<img src="./assets/ph_checkcode.png" />
									</div>
									<div style="text-align: center;" class="eight wide field">
										<div class="ui toggle checkbox" id="login-modal-remember">
											<sui-checkbox-input></sui-checkbox-input>
											<label for="remember-me">Remember Me.</label>
										</div>
									</div>
								</div>
							</field>
						-->
						<!--
						<field>
							<div class="fields">
								<field>
									Or Login With:
								</field>
								<field>
									<div class="ui circular google plus icon button">
										<icon class="google plus"></icon>
									</div>
									<div class="ui circular github icon button">
										<icon class="github alternate"></icon>
									</div>
									<div class="ui circular facebook icon button">
										<icon class="facebook"></icon>
									</div>
								</field>
							</div>
						</field>
						-->
						
						<div class="ui error message">
							
						</div>
						
						<div id="field">
							<a id="login-modal-reg-switch" href="" ng-click="switch_to_register_page();" >Register</a>
							<a style="float: right;" href="">Forget Password?</a>
						</div>
					</form>
				</div> <!-- login page -->

				<!-- register page -->
				<div class="slide-page" style="padding: 1em;">
					<form class="ui form" id="login-modal-reg-form">
						<field>
							<div class="ui icon input">
								<input type="text" id="login-modal-reg-username" name="username" placeholder="Your Username">
								<icon class="user"></icon>
							</div>
						</field>

						<field>
							<div class="ui icon input">
								<input type="password" id="login-modal-reg-passwd" name="passwd" placeholder="Your Password">
								<icon class="lock"></icon>
							</div>
						</field>

						<field>
							<div class="ui icon input">
								<input type="email"id="login-modal-reg-email" name="email" placeholder="Your E-Mail">
								<icon class="mail"></icon>
							</div>
						</field>

						<field>
							<div class="fields">
								<field class="five wide">
									<input type="text" placeholder="Check Code">
								</field>
								<div class="field">
									<img src="./assets/ph_checkcode.png" onclick="isdcng_blog.slide_to_prev(this);" />
								</div>
							</div>
						</field>
						
						<div class="ui error message">
							
						</div>

					</form>
				</div> <!-- register page -->

			</div>
		</div>
	</sui-content>

	<sui-actions>
		<div id="login-modal-cancel" class="ui black button">Cancel</div>
		<div ng-click="modal_status === 'login' ? login_onclick() : register_onclick()" class="ui positive right button">{{ modal_status === 'login' ? 'Login' : 'Register' }}</div>
	</sui-actions>
</div> <!-- login & register dialog -->

	<!-- JavaScripts -->
	<!-- placed at last of page, to speed up loading -->

	<!-- external scripts, foundation scripts, then page-specific scripts -->
	<script src="./external/jquery-2.1.1.min.js"></script>
	<script src="./external/cryptojs/sha3.js"></script>
	<script src="./external/marked.js"></script>
	<script src="./external/highlight.pack.js"></script>
	<script type="text/javascript" src="./external/angular.min.js"></script>
	<script type="text/javascript" src="./external/angular-sanitize.min.js"></script>
	<script src="./external/semantic.min.js"></script>

	<script type="text/javascript" src="blog_index.js"></script>
	<script type="text/javascript" src="ng-semantic.js"></script>
	<script type="text/javascript" src="ng-xoundation.js"></script>

	<script type="text/javascript" src="blog_demo.js"></script>
	<script type="text/javascript" src="blog_rds.js"></script>
	<script type="text/javascript" src="blog_controllers.js"></script>

	<script>
		
	</script>

</body>

</html>
