<!DOCTYPE html>
<html ng-app="isdcng.blogdemo">

<head>
	<meta charset="utf-8">

	<!-- so what the title should be ! -->
	<title>CCBlog - Demo page</title>

	<link rel="stylesheet" type="text/css" href="./ng-semantic.css">
	<link rel="stylesheet" type="text/css" class="ui" href="./external/semantic.css">
	<link rel="stylesheet" type="text/css" class="ui" href="./isdcng-blog.css">

</head>

<body ng-controller="BlogController">

	<!-- top navbar -->
	<div class="ui menu red inverted" style="margin: 0;">
		<menu-item>
			CC
		</menu-item>
		<menu-item>
			<a href="">Homepage</a>
		</menu-item>
		<menu-item>
			<a href="">Activities</a>
		</menu-item>
		<menu-item>
			<a href="">Organization</a>
		</menu-item>
		<menu-item>
			<a href="">Classroom</a>
		</menu-item>
		<menu-item>
			<a href="">Worldwide</a>
		</menu-item>

		<div class="right menu">
			<menu-item>
				<icon icon-weibo></icon>
				<icon icon-twitter></icon>
			</menu-item>
			<div class="ui simple dropdown pointing item">
				User <icon icon-dropdown></icon>
				<sui-menu>
					<menu-item onclick="$('#login-modal').modal('show');">Log In</menu-item>
					<menu-item><icon icon-weibo></icon>Settings</menu-item>
					<menu-item><i class="quit icon">Log Out</i></menu-item>
				</sui-menu>
			</div>
		</div>
	</div>

	<!-- secondary topbar -->
	<sui-segment class="header" id="secondary-header">
		<div class="ui menu red">

			<menu-item>
				<a href="" onclick="$('#secondary-header').transition({ animation: 'slide down', onComplete: function () { $('#secondary-header-hidden').transition('scale'); } });"><icon icon-up-chevron></icon></a>
			</menu-item>

			<!-- breadcrumb navigation -->
			<div class="item">
				<breadcrumb>
					<span ng-repeat="loc in breadcrumb_locations()">
						<div active ng-show="$last" class="section" >{{ loc[0] }}</div>
						<a ng-show="!$last" class="section" ng-click="loc[1]()">{{ loc[0] }}</a>
						<i ng-show="!$last" class="right chevron icon divider inverted"></i>
					</span>
				</breadcrumb>
			</div>

			<div class="right menu">
				<menu-item>
					<div class="ui input icon">
						<input class="prompt" type="text" placeholder="Search..." >
						<i class="search link icon"></i>
					</div>
				</menu-item>
			</div>

		</div>
	</sui-segment>

	<!-- secondary topbar is hidden -->
	<span class="header hidden transition" id="secondary-header-hidden">
		<a href="" id="btn-show-secondary" onclick="$('#secondary-header-hidden').transition({ animation: 'scale', onComplete: function () { $('#secondary-header').transition('slide down'); } });" style="padding: 0.3em 1em; display: inline-block; color: black;">
			<icon icon-down-chevron class="text-small-shadow"></icon>
		</a>
	</span>

	<!-- article panel -->
	<div hide-by-default id="main-article" ng-controller="MainArticleController" >
		<!-- Semantic UI would remove margin Y of first and last piled segment -->
		<div placeholder> </div>

		<div id="main-article-content" class="ui piled segment">
			<h2>{{ current_article().title }}</h2>
			<div>
				<span>by {{ current_article().author_name }}<span>
				<span class="right-floated">2014-12-08</span>
			</div>
			<div class="ui horizontal divider">x</div>
			<div class="paragraphs">
				<p ng-repeat="paragraph in current_article().content">
					{{ paragraph.content }}
				</p>
			</div>
			<div class="ui horizontal divider">x</div>
			<div class="ui button" ng-click="back_to_article_list()">Back</div>
		</div>

		<!-- comments divider and comments -->
		<div class="ui horizontal divider" style="margin-top: -1.5em;"> COMMENTS </div>

		<div id="main-article-comments" class="ui segment">

			<!-- if no comment is presented -->
			<div id="main-article-comments-none" class="box-inset"
				ng-show="current_article().comments.length === 0" style="padding: 1em;">
				<h3 class="center-aligned">No Comments yet.</h3>
			</div>

			<div class="ui horizontal divider"> POST A COMMENT </div>
		</div>

		<div placeholder> </div>
	</div>

	<!-- article list panel -->
	<div class="container" ng-controller="MainArticleListController" style="max-width: 768px; margin: 2rem auto;" id="main-article-list">

		<!-- top page navigation bar -->
		<div class="ui menu pagenav-bar">

			<menu-item>

				<div class="ui pagination menu">
					<a class="icon item" ng-class="{ 'disabled': current_page == 1 }" ng-click="prev_page()">
						<i class="left arrow icon" ng-class="{ 'disabled': current_page == 1 }"></i>
					<a class="item" ng-repeat="i in utilService.rep_range(mainArticleListPages.get_total_pages()) track by $index" ng-click="nav_page($index+1)" ng-class="{ 'active': current_page == $index+1 }">{{ $index+1 }}</a>
					</a>
					<a class="icon item" ng-class="{ 'disabled': current_page == mainArticleListPages.get_total_pages() }" ng-click="next_page()">
						<i class="right arrow icon" ng-class="{ 'disabled': current_page == mainArticleListPages.get_total_pages() }"></i>
					</a>
				</div>

			</menu-item>
		</div>

		<div class="ui piled segment">
			<h2>{{ myBlog.get_display_name() }}</h2>

			<!-- left sidebar -->
			<div class="ui close left rail" style="width: auto;">
					<div class="ui vertical accordion menu">
						<div class="item">
							<a class="title">
								<i class="dropdown icon"></i>
								新儒学
							</a>
							<div class="content menu">
								<menu-item is-link href="">新儒学</menu-item>
							</div>
						</div>
					</div>
			</div>

			<div ng-class="{ 'ui two column grid': is_two_column() }"> <!-- articles -->
				<div class="column"> <!-- left column, or the primary column if there is only one col -->

					<div class="ui divided items transition">

						<div class="item" ng-repeat="article in article_list_page(get_current_page()) | idx_odd">

							<!-- user avatar etc. -->
							<div class="ui card image mxuser">
								<div class="image">
									<img ng-src="{{ usersService.get_userinfo(article.author_id).user_avatar }}" />
								</div>
								<div class="content">
									<a class="header">{{ usersService.get_userinfo(article.author_id).username }}</a>
									<div class="meta">96-12-08</div>
								</div>
							</div>

							<div class="content">
								<a class="header" ng-click="jump_to_article(article)">{{ article.title }}</a>
								<div class="meta">
									<span>{{ article.title_secondary }}</span>
								</div>
								<div class="description">
									{{ article.summary }}
								</div>
								<div class="extra">
									<a ng-repeat="tag in article.category" class="ui label">{{ tag }}</a>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="ui vertical divider" ng-show="is_two_column()"> </div>
				<div class="column" ng-show="is_two_column()"> <!-- right column -->

					<div class="ui divided items transition">

						<div class="item" ng-repeat="article in article_list_page(get_current_page()) | idx_even">

							<!-- user avatar etc. -->
							<div class="ui card image mxuser">
								<div class="image">
									<img ng-src="{{ usersService.get_userinfo(article.author_id).user_avatar }}" />
								</div>
								<div class="content">
									<a class="header">{{ usersService.get_userinfo(article.author_id).username }}</a>
									<div class="meta">96-12-08</div>
								</div>
							</div>

							<div class="content">
								<a class="header">{{ article.title }}</a>
								<div class="meta">
									<span>{{ article.title_secondary }}</span>
								</div>
								<div class="description">
									{{ article.summary }}
								</div>
								<div class="extra">
									<a ng-repeat="tag in article.category" class="ui label">{{ tag }}</a>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>

		</div>

			<!-- bottom page navigation bar -->
			<div class="ui menu pagenav-bar">
				<div class="item">

					<div class="ui pagination menu">
						<a class="icon item" ng-class="{ 'disabled': current_page == 1 }" ng-click="prev_page()">
							<i class="left arrow icon" ng-class="{ 'disabled': current_page == 1 }"></i>
						<a class="item" ng-repeat="i in utilService.rep_range(mainArticleListPages.get_total_pages()) track by $index" ng-click="nav_page($index+1)" ng-class="{ 'active': current_page == $index+1 }">{{ $index+1 }}</a>
						</a>
						<a class="icon item" ng-class="{ 'disabled': current_page == mainArticleListPages.get_total_pages() }" ng-click="next_page()">
							<i class="right arrow icon" ng-class="{ 'disabled': current_page == mainArticleListPages.get_total_pages() }"></i>
						</a>
					</div>

				</div>

				<!-- num column switch bar -->
				<div class="right menu">

						<div class="item">
							<div class="ui menu">
								<!-- NOTE: if you place ng-click in <i />
										you would MUST click ON THE ICON to invoke it! -->
								<a class="icon item" ng-click="switch_numcol(1)">
									<i class="left arrow icon"></i>
								</a>
								<a class="icon item" ng-click="switch_numcol(2)">
									<i class="right arrow icon"></i>
								</a>
							</div>
						</div>

				</div>

			</div>

	</div>

	<!-- footer -->
	<div class="ui inverted red footer vertical segment">
		<div class="ui stackablecenter aligned page grid">

			<div class="row">
				<div class="column">
					<div class="ui horizontal divided relaxed red list inverted">

						<menu-item>
							<a href="">四川大学</a>
						</menu-item>

						<menu-item>
							<a href="">SCU ISDC</a>
						</menu-item>

					</div>
				</div>
			</div>

			<div class="row">
				<div class="column">
					<p>Copyleft 2015. Contact: lovejay-lovemusic#outlook.com</p>
				</div>
			</div>
		</div>
	</div>

	<!-- login dialog -->
	<modal-small id="login-modal">
		<icon icon-close></icon>
		<sui-header>Login</sui-header>
		<sui-content>
			<form class="ui form">
				<field>
					<div class="ui icon input">
						<input type="text" placeholder="Your Username">
						<icon class="user"></icon>
					</div>
				</field>

				<field>
					<div class="ui icon input">
						<input type="password" placeholder="Your Password">
						<icon class="lock"></icon>
					</div>
				</field>

				<field>
					<div class="fields">
						<field class="five wide">
							<input type="text" placeholder="Check Code">
						</field>
						<div class="field">
							<img src="./assets/ph_checkcode.png" />
						</div>
						<div style="text-align: center;" class="eight wide field">
							<div class="ui toggle checkbox" id="login-modal-remember">
								<sui-checkbox-input></sui-checkbox-input>
								<label for="remember-me">Remember Me.</label>
							</div>
						</div>
					</div>
				</field>

				<field>
					<div class="fields">
						<field>
							Or Login With:
						</field>
						<field>
							<div class="ui compact button">Google</div>
							<div class="ui compact button">GitHub</div>
							<div class="ui compact button">Facebook</div>
						</field>
					</div>
				</field>
			</form>
			<a href="">Register</a>
			<a style="float: right;" href="">Forget Password?</a>
		</sui-content>
		<sui-actions>
			<div class="ui black button">Cancel</div>
			<div class="ui positive right button">Login</div>
		</sui-actions>
	</modal-small>

	<!-- JavaScripts -->
	<!-- placed at last of page, to speed up loading -->

	<!-- external scripts, foundation scripts, then page-specific scripts -->
	<script src="./external/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="./external/angular.min.js"></script>
	<script src="./external/semantic.js"></script>

	<script type="text/javascript" src="blog_index.js"></script>
	<script type="text/javascript" src="ng-semantic.js"></script>
	<script type="text/javascript" src="ng-xoundation.js"></script>

	<script type="text/javascript" src="blog_demo.js"></script>
	<script type="text/javascript" src="blog_controllers.js"></script>

</body>

</html>
