<!DOCTYPE html>
<html ng-app="isdcng.blogdemo">

<head>
	<meta charset="utf-8">
	<title>Fundamental HTML</title>

	<link rel="stylesheet" type="text/css" href="./ng-semantic.css">
	<link rel="stylesheet" type="text/css" class="ui" href="./external/semantic.css">
	<link rel="stylesheet" type="text/css" class="ui" href="./isdcng-blog.css">

</head>

<body ng-controller="BlogController">

	<!-- top navbar -->
	<div class="ui menu red inverted" style="margin: 0;">
		<menu-item>
			CC
		</menu-item>
		<menu-item>
			<a href="">Homepage</a>
		</menu-item>
		<menu-item>
			<a href="">Activities</a>
		</menu-item>
		<menu-item>
			<a href="">Organization</a>
		</menu-item>
		<menu-item>
			<a href="">Classroom</a>
		</menu-item>
		<menu-item>
			<a href="">Worldwide</a>
		</menu-item>

		<div class="right menu">
			<menu-item>
				<icon icon-weibo></icon>
				<icon icon-twitter></icon>
			</menu-item>
			<div class="ui simple dropdown pointing item">
				User <icon icon-dropdown></icon>
				<sui-menu>
					<menu-item onclick="$('#login-modal').modal('show');">Log In</menu-item>
					<menu-item><icon icon-weibo></icon>Settings</menu-item>
					<menu-item><i class="quit icon">Log Out</i></menu-item>
				</sui-menu>
			</div>
		</div>
	</div>

	<!-- secondary topbar -->
	<sui-segment class="header" id="secondary-header">
		<div class="ui menu red">

			<menu-item>
				<a href="" onclick="$('#secondary-header').transition({ animation: 'slide down', onComplete: function () { $('#secondary-header-hidden').transition('scale'); } });"><icon icon-up-chevron></icon></a>
			</menu-item>

			<div class="item">
				<breadcrumb>
						<a class="section">Home</a>
						<i class="right chevron icon divider inverted"></i>
						<a class="section">Blog</a>
						<i class="right chevron icon divider inverted"></i>
						<div active class="section">Article List</div>
				</breadcrumb>
			</div>

			<div class="right menu">
				<menu-item>
					<div class="ui input icon">
						<input class="prompt" type="text" placeholder="Search..." >
						<i class="search link icon"></i>
					</div>
				</menu-item>
			</div>

		</div>
	</sui-segment>

	<span class="header hidden transition" id="secondary-header-hidden">
		<a href="" id="btn-show-secondary" onclick="$('#secondary-header-hidden').transition({ animation: 'scale', onComplete: function () { $('#secondary-header').transition('slide down'); } });" style="padding: 0.3em 1em; display: inline-block; color: black;">
			<icon icon-down-chevron></icon>
		</a>
	</span>

	<div hide-by-default class="ui piled segment" id="main-article" ng-controller="MainArticleController">
			<h2>我的博文</h2>
			<div>
				<span>by secondwtq<span>
				<span class="right-floated">2014-12-08</span>
			</div>
			<div class="ui horizontal divider">x</div>
			<div class="paragraphs">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<div class="ui horizontal divider">x</div>
			<div class="ui button" ng-click="back_to_article_list()">Back</div>
	</div>

	<div class="container" ng-controller="MainArticleListController" style="max-width: 768px; margin: 2rem auto;" id="main-article-list">

			<div class="ui menu">

				<menu-item>

					<div class="ui pagination menu">
						<a class="icon item" ng-class="{ 'disabled': current_page == 1 }" ng-click="prev_page()">
							<i class="left arrow icon" ng-class="{ 'disabled': current_page == 1 }"></i>
						<a class="item" ng-repeat="i in utilService.rep_range(mainArticleListPages.get_total_pages()) track by $index" ng-click="nav_page($index+1)" ng-class="{ 'active': current_page == $index+1 }">{{ $index+1 }}</a>
						</a>
						<a class="icon item" ng-class="{ 'disabled': current_page == mainArticleListPages.get_total_pages() }" ng-click="next_page()">
							<i class="right arrow icon" ng-class="{ 'disabled': current_page == mainArticleListPages.get_total_pages() }"></i>
						</a>
					</div>

				</menu-item>
			</div>

		<div class="ui piled segment">

			<!-- left sidebar -->
			<div class="ui close left rail" style="width: auto;">
					<div class="ui vertical accordion menu">
						<div class="item">
							<a class="title">
								<i class="dropdown icon"></i>
								新儒学
							</a>
							<div class="content menu">
								<menu-item is-link href="">新儒学</menu-item>
							</div>
						</div>
					</div>
			</div>

			<!-- articles -->
			<div class="ui two column grid">
				<div class="column"> <!-- left column -->

					<div class="ui divided items transition">
						<h2>{{ myBlog.get_display_name() }}</h2>

						<div class="item" ng-repeat="article in article_list_page(get_current_page()) | idx_odd">

							<!-- user avatar etc. -->
							<div class="ui card image mxuser">
								<div class="image">
									<img ng-src="{{ usersService.get_userinfo(article.author_id).user_avatar }}" />
								</div>
								<div class="content">
									<a class="header">{{ usersService.get_userinfo(article.author_id).username }}</a>
									<div class="meta">96-12-08</div>
								</div>
							</div>

							<div class="content">
								<a class="header" ng-click="jump_to_article(article)">{{ article.title }}</a>
								<div class="meta">
									<span>{{ article.title_secondary }}</span>
								</div>
								<div class="description">
									{{ article.summary }}
								</div>
								<div class="extra">
									<a ng-repeat="tag in article.category" class="ui label">{{ tag }}</a>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="ui vertical divider"></div>
				<div class="column"> <!-- right column -->

					<div class="ui divided items transition">

						<h2>&nbsp;</h2>
						<div class="item" ng-repeat="article in article_list_page(get_current_page()) | idx_even">

							<!-- user avatar etc. -->
							<div class="ui card image mxuser">
								<div class="image">
									<img ng-src="{{ usersService.get_userinfo(article.author_id).user_avatar }}" />
								</div>
								<div class="content">
									<a class="header">{{ usersService.get_userinfo(article.author_id).username }}</a>
									<div class="meta">96-12-08</div>
								</div>
							</div>

							<div class="content">
								<a class="header">{{ article.title }}</a>
								<div class="meta">
									<span>{{ article.title_secondary }}</span>
								</div>
								<div class="description">
									{{ article.summary }}
								</div>
								<div class="extra">
									<a ng-repeat="tag in article.category" class="ui label">{{ tag }}</a>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>

		</div>

			<div class="ui menu">
				<div class="item">

					<div class="ui pagination menu">
						<a class="icon item" ng-class="{ 'disabled': current_page == 1 }" ng-click="prev_page()">
							<i class="left arrow icon" ng-class="{ 'disabled': current_page == 1 }"></i>
						<a class="item" ng-repeat="i in utilService.rep_range(mainArticleListPages.get_total_pages()) track by $index" ng-click="nav_page($index+1)" ng-class="{ 'active': current_page == $index+1 }">{{ $index+1 }}</a>
						</a>
						<a class="icon item" ng-class="{ 'disabled': current_page == mainArticleListPages.get_total_pages() }" ng-click="next_page()">
							<i class="right arrow icon" ng-class="{ 'disabled': current_page == mainArticleListPages.get_total_pages() }"></i>
						</a>
					</div>

				</div>
			</div>

	</div>

	<!-- footer -->
	<div class="ui inverted red footer vertical segment">
		<div class="ui stackablecenter aligned page grid">

			<div class="row">
				<div class="column">
					<div class="ui horizontal divided relaxed red list inverted">

						<menu-item>
							<a href="">四川大学</a>
						</menu-item>

						<menu-item>
							<a href="">SCU ISDC</a>
						</menu-item>

					</div>
				</div>
			</div>

			<div class="row">
				<div class="column">
					<p>Copyleft 2015. Contact: lovejay-lovemusic#outlook.com</p>
				</div>
			</div>
		</div>
	</div>

	<modal-small id="login-modal">
		<icon icon-close></icon>
		<sui-header>Login</sui-header>
		<sui-content>
			<form class="ui form">
				<p>Login into Blog:</p>
				<field>
					<div class="ui icon input">
						<input type="text" placeholder="Your Username">
						<icon class="user"></icon>
					</div>
				</field>

				<field>
					<div class="ui icon input">
						<input type="password" placeholder="Your Password">
						<icon class="lock"></icon>
					</div>
				</field>

				<field>
					<div class="fields">
						<field class="four wide">
							<input type="text" placeholder="Check Code">
						</field>
						<div class="field">
							<img src="./assets/ph_checkcode.png" />
						</div>
						<div style="text-align: center;" class="eight wide field">
							<div class="ui toggle checkbox" id="login-modal-remember">
								<sui-checkbox-input></sui-checkbox-input>
								<label for="remember-me">Remember Me.</label>
							</div>
						</div>
					</div>
				</field>
			</form>
			<a style="float: left;" href="">Register</a>
			<a style="float: right;" href="">Forget Password?</a>
		</sui-content>
		<sui-actions>
			<div class="ui black button">Cancel</div>
			<div class="ui positive right button">Login</div>
		</sui-actions>
	</modal-small>

	<script src="./external/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="./external/angular.min.js"></script>
	<script src="./external/semantic.js"></script>

	<script type="text/javascript" src="blog_index.js"></script>
	<script type="text/javascript" src="ng-semantic.js"></script>
	<script type="text/javascript" src="ng-xoundation.js"></script>

	<script type="text/javascript" src="blog_demo.js"></script>
	<script type="text/javascript" src="blog_controllers.js"></script>

</body>

</html>
