
body {
	background: -webkit-image-set(url(assets/background.png) 2.5x)
			0% 0% repeat-x rgb(238, 238, 238);
}

.paragraphs p {
	text-indent: 2em;
}

.paragraphs p:hover {
	color: grey;
	cursor: pointer;
}

#secondary-header > .ui.menu {
	background: url(assets/background-light.png) 1%;
}

.pagenav-bar {
	background: url(assets/background-light.png) 1% !important;
}

#main-article > .ui.segment {
	margin-left: 1em;
	margin-right: 1em;
}

.secondary-img {
	max-height: 10em;
	max-width: 10em;
}

.mxuser.card {
	display: table-cell;
	width: 96px;
}

.mxuser.card > .content {
	padding: 0.5em;
}

.mxuser.card > .content > .header:not(.ui) {
	font-size: 1em;
	line-height: 2em;
}

.mxuser.card > .content > .meta {
	font-size: 0.6em;
}

@media only screen and (max-width: 767px) {
	.ui > .item > .mxuser.card {
	    width: 96px !important;
	}
}

.slides {
	overflow: hidden;
}

.slide-wrapper {
	width: 6666px;
}

.slide-wrapper::after, .slide-wrapper::after {
	clear: both;
	display: table;
	content: '';
}

.slide-page {
	transition: all 0.3s ease-in-out;
	float: left;
	position: relative;
	left: 0px;
}

.small-shadow {
	box-shadow: 0px 0px 0px 1px rgba(39, 41, 43, 0.15), 0px 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.text-small-shadow {
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.box-inset {
	border-radius: 3px;
	box-shadow: inset 1px 2px 2px rgba(0, 0, 0, 0.2);
	background-color: rgba(0, 0, 0, 0.01);
	border: 1px solid rgba(0, 0, 0, 0.05);
}

.center-aligned {
	text-align: center;
}

.right-aligned {
	text-align: right;
}

.right-floated {
	float: right;
}

.y-hidden-transition {
	-webkit-transition: max-height 1s ease-in-out;
	transition: max-height 1s ease-in-out;
}

.y-overflow-hidden {
	overflow-y: hidden  !important;
}

.y-hidden {
	max-height: 0px !important;
}
