
body {
	background-color: rgb(227, 227, 227);
/*	background: -webkit-image-set(url(assets/background.png) 2.5x)*/
/*			0% 0% repeat-x rgb(238, 238, 238);*/
/*	background: url(assets/background.png) 1000%;*/
}

#page-new-article-preview-paragraphs > .page-new-article-preview-paragraph,
.paragraphs > .article-paragraph-wrapper > .article-paragraph > p {
	text-indent: 1em;
	margin: 0 0 1em;
	background-color: rgba(255, 255, 255, 0);
	transition: all 0.05s ease-in-out;
/*	padding: 0;*/
}

#page-new-article-preview-paragraphs > .page-new-article-preview-paragraph > pre,
.paragraphs > .article-paragraph-wrapper > .article-paragraph > pre {
	overflow: visible;
	text-indent: 0;
	padding: 1em !important;
	border-radius: 3px;
	box-shadow: inset 1px 1px 3px gray;
	
	/* css-tricks.com/snippets/css/make-pre-text-wrap */
	white-space: pre-wrap;
}

#page-new-article-preview-paragraphs > .page-new-article-preview-paragraph > ul,
.paragraphs > .article-paragraph-wrapper > .article-paragraph > ul {
	text-indent: 0;
}

#page-new-article-preview-paragraphs > .page-new-article-preview-paragraph:hover,
.paragraphs > .article-paragraph-wrapper > .article-paragraph:hover {
	color: grey;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.05); 
	border-radius: 0.5em;
}

#page-new-article-content {
	min-height: 8em;
	height: 54em;
	max-height: 96em;
	resize: vertical;
}

#secondary-header {
/*	background: url(assets/background-light.png) 1%;*/
	background-color: rgb(227, 227, 227);
	border-top-left-radius: 0;
	border-top-right-radius: 0;
/*	box-shadow: inset rgba(0, 0, 0, 0.1) 0 -2px 4px, 0px 0px 0px 1px rgba(39, 41, 43, 0.15), 0px 1px 2px 0 rgba(0, 0, 0, 0.05) !important;*/
	margin: 0;
}

.pagenav-bar {
/*	background: url(assets/background-light.png) 1% !important;*/

	/* http://stackoverflow.com/questions/11024867/clear-child-floats-without-clearing-external-floats */
	/* or SUI will "fix" the float of sidebar */
	overflow: auto;
}

/*#main-article > .ui.segment {

}*/

#main-article-content {
	margin-bottom: 2.5em;
}

#header {
	border-radius: 0;
	margin: 0;
	background: linear-gradient(rgba(255, 255, 255, 1.0) 0%, rgba(196, 196, 196, 1.0) 100%);
	box-shadow: rgba(0, 0, 0, 0.3) 0 3px 2px;
	z-index: 100;
	position: relative;
}

#footer.footer {
    box-shadow: inset rgba(0, 0, 0, 0.2) 0 6px 4px !important;
    background: linear-gradient(rgba(255, 255, 255, 0.45) 0%, rgba(255, 255, 255, 0.5) 100%) !important;
	background-color: #666666 !important;
}

@media only screen and (max-width: 1160px) {
	#left-sidebar {
		float: none;
		margin: 0 auto;
		padding: 0;
		display: table;
		/* stackoverflow.com/questions/339923/set-cellpadding-and-cellspacing-in-css */
		border-spacing: 2em 0;
	}
	
	#left-sidebar .vertical.accordion.menu {
		margin: 0 auto;
		text-align: center;
	}
	
	#left-sidebar > .resp-column {
		display: table-cell;
		vertical-align: middle;
	}
}

@media only screen and (max-width: 767px) {
	.ui.items>.item>.image.article-list-img,
	.ui.items>.item>.image.article-list-img > img {
		width: 80px !important;	
	}
}

#sidebar-avatar {
	display: block;
	box-shadow: 2px 2px 6px #888888;
	border-radius: 50%;
	background-color: white;
	margin: 0 auto;
	margin-bottom: 1em;
	width: 96px;
}

.sidebar-second-usert {
	font-size: 0.7em;
	line-height: 1em;
	margin-bottom: 0.5em;
	font-weight: normal;
	color: rgba(0, 0, 0, 0.6);
}

.sidebar-ops {
	font-size: 0.8em;
	margin-bottom: 1em;
}

.sidebar-ops > a {
	color: rgba(0, 0, 0, 0.3);
}

/* *Article Panel - Comment Container Style* */
.article-paragraph-comment-container {
	background: url(assets/light_linen-1024x1024.png);
	/*background-size:  ;*/
	border-radius: 6px !important;
	padding: 1em;
	margin-bottom: 1em;

	position: relative;
}

.article-paragraph-comment-container-wrapper:before {
	background: url(assets/light_linen-1024x1024.png);
	box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.12);
	/* background-size: 192px 192px; */
	border-radius: 2px;

	width: 1.4em;
	height: 1.4em;
	top: 0.75em;
	left: 1.4em;

	/* needed for Safari */
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	position: relative;
	content: '';
	display: block;
	z-index: 0;
}

.secondary-img {
	max-height: 10em;
	max-width: 10em;
}

.modal-message {
	font-size: 0.7em;
	font-weight: normal;
	padding-right: 1.4em;
	color: #000000;
	transition: color 0.2s ease-in-out;
}

.page-article-list-segment > .ui.two.column.grid:after {
	clear: none;
}

.mxuser.card {
	display: table-cell;
	width: 96px;
}

.mxuser.card > .content {
	padding: 0.5em;
}

.mxuser.card > .content > .header:not(.ui) {
	font-size: 1em;
	line-height: 2em;
}

.mxuser.card > .content > .meta {
	font-size: 0.6em;
}

@media only screen and (max-width: 767px) {
	.ui > .item > .mxuser.card {
	    width: 96px !important;
	}
}

.ui.text.menu.context-ops {
	display: block;
	margin: 0;
	/* the same as '.pagenav-bar' */
	overflow: auto;
}

.slides {
	overflow: hidden;
	transition: all 0.3s ease-in-out;
}

.slide-wrapper {
	width: 6666px;
	transition: height 0.3s ease-in-out;
}

.slide-wrapper::after {
	clear: both;
	display: table;
	content: '';
}

.slide-page {
	transition: all 0.3s ease-in-out;
	float: left;
	position: relative;
	left: 0px;
}

/*.iclearfix { }*/

.iclearfix:after {
	display: table;
	content: '';
	clear: both;
}

.small-shadow {
	box-shadow: 0px 0px 1px 1px rgba(39, 41, 43, 0.15), 0px 2px 2px 0 rgba(0, 0, 0, 0.1) !important;
}

.large-shadow {
	box-shadow: 0px 0px 1px 1px rgba(39, 41, 43, 0.2), 2px 2px 4px 4px rgba(0, 0, 0, 0.15) !important;
}

.text-small-shadow {
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.box-inset {
	border-radius: 3px;
	box-shadow: inset 1px 2px 2px rgba(0, 0, 0, 0.2);
	background-color: rgba(0, 0, 0, 0.01);
	border: 1px solid rgba(0, 0, 0, 0.05);
}

.center-aligned {
	text-align: center;
}

.right-aligned {
	text-align: right;
}

.left-floated {
	float: left;
}

.right-floated {
	float: right;
}

.y-hidden-transition {
	/*overflow-x: visible !important;*/
	/*overflow-y: hidden  !important;*/
	-webkit-transition: max-height 1s ease-in-out;
	transition: max-height 1s ease-in-out;
}

.y-overflow-hidden {
	overflow-y: hidden  !important;
}

.y-hidden {
	max-height: 0px !important;
}

.no-clear {
	clear: none !important;
}

.no-clear:after {
	clear: none !important;
}

.ch-inner-container {
	max-width: 42em;
	margin: 4em auto 4em auto;
}

body.ch-body {
	background: #36474F;
	font-family: "Lucida Grande";
}

#ch-topics {
	margin-top: 1em;
	margin-bottom: 1em;
}

#chpanel-newtopic {
	padding: 0.5em;
}

.ch-message-content {
	padding: 0.4em 0.5em 0.8em 0.5em;
}

chatter-panel > .ch-accordion-wrapper:last-child {
	border-radius: 0 0 4px 4px;
}

chatter-panel > .ch-accordion-wrapper:first-child {
	border-radius: 4px 4px 0 0;
}

chatter-panel > .ch-accordion-wrapper {
	border-bottom: 1px solid rgba(30, 136, 229, 0.5);
	border-radius: 0;
}

chatter-panel > .ch-accordion-wrapper .ch-accordion-wrapper {
	margin-right: -1em !important;
}

.ch-col-input-group .ch-input:first-child {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-top-style: solid;
	border-bottom-style: none;
}

.ch-col-input-group .ch-input {
	border-bottom-style: none;
	border-radius: 0;
}

.ch-col-input-group .ch-input:last-child {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-style: solid;
}

.ch-col-input-group.no-radius .ch-input:last-child {
	border-radius: 0;
}

.ch-col-input-group.no-radius .ch-input:first-child {
	border-radius: 0;
}

.ch-col-input-group .ch-input.ch-altered {
	display: block;
	border: 1px solid #cccccc;
}

.ch-col-input-group .ch-input .ch-altered.btn {
	float: none;
	border-top: none;
	border-bottom: none;
}

.ch-col-input-group .ch-input.right-aligned .ch-altered.btn {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-right: none;
}

.ch-accordion-wrapper {
	background-color: rgb(25, 118, 210);
	padding: 0.2em;
	box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.3);
	border-radius: 4px;
	position: relative;
}

.ch-accordion-wrapper > .ch-accordion-header-wrapper > .ch-accordion-header {
	padding: 0.5em;
	font-size: 1em;
	cursor: pointer;
	color: white;
}

.ch-accordion-wrapper > .ch-accordion-content-wrapper > .ch-accordion-content {
	padding: 0.7em;
	padding-left: 0.4em;
	padding-right: 0.2em;
	background-color: #E3F2FD;
	border-radius: 0 0 3px 3px;
	color: #253238;
}

.ch-accordion-header-icon:before {
	font-size: 1em;
	width: 1em;
	height: 1em;
	line-height: 1em;
	padding: 0.4em;
	height: 100%;
}

/*	==============================================================================  */
/*	HOVER VISIBLE  */

* > .hover-visible {
	opacity: 0;
	transition: all 0.1s ease-in-out;
}

*:hover > .hover-visible {
	opacity: 1;
}

.hover-visible-cp .hover-visible-c {
	opacity: 0;
	transition: all 0.1s ease-in-out;
}

.hover-visible-cp:hover .hover-visible-c {
	opacity: 1;
}

/*	HOVER VISIBLE  */
/*	==============================================================================  */

.ch-tooltip-box {
	font-family: "Lucida Grande";
	position: absolute;
	height: 0;
	width: 0;
	overflow: hidden;
	opacity: 0.0;
	z-index: 2;
	
	transition: all 0.3s ease-in-out;
	box-shadow: 1px 3px 6px rgba(0, 0, 0, .5);
	background-color: white;
	color: #253238;
	border-radius: 3px;
	flex-direction: column;
}

.ch-tooltip-box.ch-actived {
	display: flex;
	opacity: 1.0;
	height: auto;
	width: auto;
}

.ch-tooltip-box.ch-left {
	right: 170%;
	top: -100%;
}

.ch-tooltip-box.ch-center {
	right: 50%;
	top: -50%;
}

.ch-tooltip-left:before {
/*	content: '';*/
	right: -9px;
	top: 10%;
	position: absolute;
	border: 10px solid transparent;
	border-right-width: 0;
	border-left-color: #f2f2f2;
	width: 0;
	height: 0;
}

.ch-tooltip-header {
	border-bottom: 1px solid #e5e5e5;
	background-color: #f2f2f2;
	padding: 1em;
	border-radius: 3px 3px 0 0;
}

.ch-tooltip-footer {
	border-bottom: 1px solid #e5e5e5;
	background-color: #f2f2f2;
	padding: 1em;
	border-radius: 3px 3px 0 0;
}

.ch-tooltip-footer.ch-row-input-group {
	padding: 0;
	display: flex;
}

.ch-tooltip-footer.ch-row-input-group .ch-input {
	padding: 0.6em;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 0;
	
	transition: all 0.4s ease-in-out;
	background-color: white;
	border-style: none;
	border-right: 1px solid lightgray;
	outline-style: none;
}

.ch-tooltip-footer.ch-row-input-group .ch-input:hover {
	background-color: rgba(158, 158, 158, 0.2);
}

.ch-tooltip-footer.ch-row-input-group .ch-input:first-child {
	border-radius: 0 0 0 3px;
}

.ch-tooltip-footer.ch-row-input-group .ch-input:last-child {
	border-radius: 0 0 3px 0;
}

/* flexbox helps us */
.ch-tooltip-flexwrap {
	display: flex;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	pointer-events: none;
}

.ch-tooltip-flexwrap.ch-center {
	justify-content: center;
	align-items: center;
}

.ch-tooltip-flexwrap.ch-left {
	justify-content: flex-start;
	align-items: center;
}

.ch-tooltip-flexwrap > .ch-tooltip-box {
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: auto;
}

.ch-tooltip-flexwrap > .ch-tooltip-box > * {
	flex-shrink: 0;
}

/*	==============================================================================  */
/*	CARD THEME  */

body.ch-body.ch-theme-card {
	background: rgba(0, 0, 0, 0.05);
}

.ch-theme-card .ch-accordion-wrapper {
	background-color: white;
	margin: 0.6em;
	padding: 0.2em;
	border-radius: 0;
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	border-bottom-style: none;
	border-radius: 0 !important;
}

.ch-theme-card .ch-accordion-wrapper > .ch-accordion-content-wrapper > .ch-accordion-content {
	background-color: white;
}

.ch-theme-card .ch-accordion-wrapper  > .ch-accordion-header-wrapper > .ch-accordion-header {
	color: rgba(0, 0, 0, 0.87);
	padding: 0.9em;
}

/*	CARD THEME  */
/*	==============================================================================  */